.burger-container
{
  position: absolute;
  z-index: 1000;
  padding: 1rem;
  border-radius: 0px 6px 6px 6px;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 180px;
}

.burger-container > div:hover
{
  transition: 210ms;
  cursor: pointer;
  color: gray;
}